@model E_Hospital.Models.ScheduleDetailsViewModel

<h2>@Model.Doctor.Name @Model.Doctor.Surname schedule at @Model.Schedule.Date.ToShortDateString()</h2>

@foreach(var time in Model.Schedule.AppointmentTimes)
{
    if(Model.FreeTimes.Any(t=>t.Key == time.Id))
    {
        <div>
            @Html.ActionLink($"{Model.FreeTimes[time.Id]}"
           ,"Index", "Reservation",  new { timeId = time.Id }, null)
        </div>
    }
    else
    {
        <div>@Model.ReservedTimes[time.Id]</div>
    }
}